// text colors
$primary-text: #ffffff;
$secondary-text: hsl(27,34%,59%);
$light-gray: hsl(27,34%,59%);
//e6e6e6
//9e9e9e

// background colors
$primary-background:  hsl(0, 0%, 8%);;
$secondary-background: hsl(0, 0%, 6%);
$tertiary-background: hsl(0, 0%, 10%);


// other colors
$white: #ffffff;
$black: #000000;
$box-border: 1px solid #f7f7f7;
$shadow-1: 0px 0.3px 0.9px rgba(0, 0, 0, 0.1), 0px 1.6px 3.6px rgba(0, 0, 0, 0.1);
$footer-border: 1px solid rgba(0, 0, 0, 0.06);

// container width
$large-container: 1200px;
$medium-container: 1010px;
